@use "../variables" as *;
@use "../layout" as *;
@use "../base" as *;

body.loading {
  overflow: hidden;
}

.loader {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.loader.active {
  display: flex;
}

.loader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
