.partners-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 72px 181px;
  flex-wrap: wrap;
}

article.partner-box {
  padding: 0;
}

.partner-box {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 390px) {
  .partners-wrapper {
    width: 122vh;
    gap: 72px 180px;
  }

  .partner-box {
    width: 180px;
    height: 180px;
    display: flex;
  }
}
