@use "../variables" as *;
@use "../layout" as *;
// ============================================================
// section portfolio : cartes et textes
// ============================================================

.portfolio-card-pos {
  width: 267px;
  height: 267px;
}

.portfolio-card-img {
  position: relative;
  background-color: red;
  cursor: pointer;
}

.portfolio-card-text p {
  display: flex;
  padding: 6px 9px;
  justify-content: center;
  align-items: center;
  cursor: default;
  font-family: $font;
  font-size: 0.6rem;
}

.portfolio-card-text {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.portfolio-legend {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  padding: 6px 9px;
  justify-content: center;
  align-items: center;
  background: black;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  z-index: 1;

  p {
    font-family: $font;
    font-size: 0.6rem;
    color: #fff;
  }
}

article.portfolio-card:hover .portfolio-legend {
  opacity: 1;
}

article.portfolio-card {
  padding: 0;
  margin: 0;
  height: 100%;

  figure {
    height: 100%;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }

    figcaption {
      width: 100%;
    }
  }
}

// ============================================================
// section portfolio : pop up
// ============================================================

.portfolio-overlay {
  position: fixed;
  inset: 0;
  transition: opacity 500ms;
  display: none;

  // grid-template-areas: ". portfoliobuttonclose . . portfolioimgpopup portfolioimgpopup portfolioimgpopup .";
}

// .portfolio-overlay:target {
//   display: flex;
// }

.portfolio-popup-box {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 137px 180px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: relative;
  transition: all 5s ease-in-out;
}

.portfolio-close {
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 24px;
  text-decoration: none;

  button {
    border: none;
    background: none;
    grid-area: portfoliobuttonclose;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: normal;
    color: blue;
  }
}

.portfolio-close h4:hover {
  font-weight: bold;
}

.portfolio-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: end;
    justify-self: start;
    background-color: black;
    padding: $space-md;
    color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: portfolioimgpopup;
  }
}

// ============================================================
// section portfolio : grille de cartes
// ============================================================

.portfolio-wrapper {
  max-height: 100%;
  // display: grid;
  // grid-template-columns: repeat(30, 1fr);
  // grid-template-rows: repeat(8, 1fr);
  grid-template-areas: ". . img1 img1 . . . .";
}

.portfolio-card-pos[data-pos="1"] {
  // grid-column: 1 / 2;
  // grid-row: 3 / 4;
  grid-area: img1;
}

.portfolio-card-pos[data-pos="2"] {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="3"] {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="4"] {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="5"] {
  grid-column: 7 / 8;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="6"] {
  grid-column: 9 / 10;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="7"] {
  grid-column: 9 / 10;
  grid-row: 3 / 4;
}

.portfolio-card-pos[data-pos="8"] {
  grid-column: 11 / 12;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="9"] {
  grid-column: 11 / 12;
  grid-row: 3 / 4;
}

.portfolio-card-pos[data-pos="10"] {
  grid-column: 11 / 12;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="11"] {
  grid-column: 11 / 12;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="12"] {
  grid-column: 13 / 14;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="13"] {
  grid-column: 13 / 14;
  grid-row: 3 / 4;
}

.portfolio-card-pos[data-pos="14"] {
  grid-column: 13 / 14;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="15"] {
  grid-column: 13 / 14;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="16"] {
  grid-column: 15 / 16;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="17"] {
  grid-column: 15 / 16;
  grid-row: 3 / 4;
}
.portfolio-card-pos[data-pos="18"] {
  grid-column: 15 / 16;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="19"] {
  grid-column: 15 / 16;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="20"] {
  grid-column: 17 / 18;
  grid-row: 1 / 8;
}

.portfolio-card-pos[data-pos="21"] {
  grid-column: 19 / 20;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="22"] {
  grid-column: 19 / 20;
  grid-row: 3 / 4;
}

.portfolio-card-pos[data-pos="23"] {
  grid-column: 19 / 20;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="24"] {
  grid-column: 19 / 20;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="25"] {
  grid-column: 21 / 22;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="26"] {
  grid-column: 21 / 22;
  grid-row: 3 / 4;
}

.portfolio-card-pos[data-pos="27"] {
  grid-column: 21 / 22;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="28"] {
  grid-column: 23 / 24;
  grid-row: 3 / 4;
}

.portfolio-card-pos[data-pos="29"] {
  grid-column: 23 / 24;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="30"] {
  grid-column: 25 / 26;
  grid-row: 1 / 2;
}

.portfolio-card-pos[data-pos="31"] {
  grid-column: 25 / 26;
  grid-row: 5 / 6;
}

.portfolio-card-pos[data-pos="32"] {
  grid-column: 27 / 28;
  grid-row: 7 / 8;
}

.portfolio-card-pos[data-pos="33"] {
  grid-column: 29 / 30;
  grid-row: 3 / 4;
}
