<article class="card-portfolio">
  <figure>
    <img
      src="{{ portfolio.fichier | url }}"
      alt="legende de l'image ou titre du projet"
    >
    {% if portfolio.legende %}
      <figcaption class="legende-portfolio">{{ portfolio.legende }}</figcaption>
    {% endif %}
  </figure>
</article>
