<article class="portfolio-card">
  {% if item.media.image %}
    <figure href="#portfolio-popup">
      <img
        src="{{ item.media.image | url }}"
        alt="légende de l'image ou titre du projet"
      />
      {% if item.media.legend %}
        <figcaption class="portfolio-legende">
          {{ item.media.legend }}
        </figcaption>
      {% endif %}
    </figure>
  {% elif item.quote %}
    <p class="portfolio-card-text">{{ item.quote }}</p>
  {% endif %}
</article>
