<article class="portfolio-card">
  {% if portfolio.fichier %}
    <figure>
      <img
        src="{{ portfolio.fichier | url }}"
        alt="légende de l'image ou titre du projet"
      >
      {% include portfolio.legende %}
      <figcaption class="portfolio-legende">
        {{ portfolio.legende }}
      </figcaption>
      {% endif %}
    </figure>
  {% endif %}

  {% if portfolio.quote %}
    <p class="portfolio-card-text">{{ portfolio.quote }}</p>
  {% endif %}
</article>
