<div>
  {% if cardMember.image %}
    <figure class="team-card">
      <img src="{{ cardMember.image | url }}" alt="" />
    </figure>
  {% endif %}
  <figcaption>
    <h3>{{ cardMember.title }}</h3>
  </figcaption>
</div>
