<figure class="team-card">
  <img
    src="{{ aout_decembre.image }}"
    alt="Representation of {{ aout_decembre.title }}"
  />
</figure>
<figcaption>
  <h3>{{ aout_decembre.title }}</h3>
</figcaption>
