@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
}

html {
  font-family: $font;
  text-align: right;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: $font-weight-title;
  font-style: $font-style-title;
  line-height: $font-line-height-title;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-weight: $font-weight-text;
  line-height: $font-line-height-text;
  font-size: 0.9rem;
  max-width: 70ch;
}

li {
  font-size: 0.7rem;
}

button,
a {
  font-size: 1.5rem;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
    max-width: 100ch;
  }

  li {
    font-size: 1rem;
    font-weight: $font-weight-text;
  }

  button,
  a {
    font-size: 0.7rem;
    background: none;
    border: none;
    &:hover {
      color: $color-accent;
      text-decoration: underline;
      font-weight: $font-weight-legend;
    }
  }
}
