@use "variables" as *;

html {
  font-family: $font-text;
  font-weight: $font-weight-text;
  font-size: 24px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
}
