@font-face {
  font-family: "Noi Grotesk";
  src: url("../../public/font/NoiGrotesk-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Noi Grotesk";
  src: url("../../public/font/NoiGrotesk-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Noi Grotesk";
  src: url("../../public/font/NoiGrotesk-UltraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Noi Grotesk";
  src: url("../../public/font/NoiGrotesk-UltraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Noi Grotesk";
  src: url("../../public/font/NoiGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Noi Grotesk";
  src: url("../../public/font/NoiGrotesk-Medium.woff") format("woff");
  font-weight: 500;
}
